.floating-icon{
    overflow: hidden;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 95%;
    top: 95%;
    filter: saturate(250%);
    z-index: 8;
    cursor: pointer;
    box-shadow: rgba(63, 60, 60, 0.603) 2px 5px 5px 5px;
    transition: .1s ease-in filter;
}

.floating-icon .image-container{
    position: absolute;
    width: 50px;
    height:50px;
}
.floating-icon:hover{
    filter: saturate(150%) brightness(150%);
}

@media (min-width: 280px) {
    .floating-icon{
        width: 45px;
        height: 45px;
        left: 80%;
        top: 85%;
    }

    .floating-icon .image-container{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 600px) {
    .floating-icon{
        width: 55px;
        height: 55px;
        left: 90%;
        top: 85%;
    } 

    .floating-icon .image-container{
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 800px) {
    .floating-icon{
        width: 65px;
        height: 65px;
        left: 80%;
        top: 85%;
    } 

    .floating-icon .image-container{
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 1000px) {
    .floating-icon{
        overflow: hidden;
        position: fixed;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        left: 85%;
        top: 85%;
        filter: saturate(250%);
        z-index: 9;
        cursor: pointer;
        box-shadow: rgba(63, 60, 60, 0.603) 2px 5px 5px 5px;
        transition: .1s ease-in filter;
    }
    
    .floating-icon .image-container{
        position: absolute;
        width: 68px;
        height: 68px;
    }
    .floating-icon:hover{
        filter: saturate(150%) brightness(150%);
    }
    
}