.d-responsive{
    display: flex;
}
.d-mob-responsive{
    display: flex;
    position: fixed;
    inset: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.807);
    backdrop-filter: blur(4px);
    z-index: 9;
}
.burger-menu{
    display: none;
}
.flex-div{
    flex-direction: row;
}
.inge-logo{
    width: 85%;
}

.option-active-page{
    border-bottom: rgb(13, 110, 253) .51rem solid;
    font-weight: bold;
    color: rgb(46, 46, 102);
}
.option-inactive-page{
    color: black;
    border-bottom: transparent .51rem solid;
}
.close-button{
    display: none;
}

.link-active{
    color: rgb(13, 110, 253);
    border-right: 1px solid rgba(103, 164, 255, .3);
    border-left: 1px solid rgba(84, 152, 255, .3);
    transition: all ease-in .13s;
}
.link-inactive{
    transition: all ease-in .13s;
    color: rgb(5, 5, 145);
}

.link-active:hover{
    color: white;
    background-color: rgb(13, 110, 253);
}
.link-inactive:hover{
    color: white;
    background-color: rgb(13, 110, 253);
}
.header-menu{
    position: sticky;
    top: 0;
}


.logo-container{
    width: 40%;    
}
.menu-container{
    width: 60%;
}

@media (min-width: 300px) {
    .info-section{
        width: 90%;
    }
    .logo-container{
        width: 85%;
    }
    .menu-container{
        width: 15%;
    }
    .d-responsive{
        position: fixed;
        display: none;
        inset: 0;
    }
    .burger-menu{
        display: flex;
    }
    .inge-logo{
        width: 100%;
    }
    .close-button{
        display: block;
    }
    
    .flex-div{
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .info-section{
        width: 75%;
    }
    .d-responsive{
        display: none;
    }
    .burger-menu{
        display: flex;
    }
    
    .flex-div{
        flex-direction: column;
    }
    .close-button{
        display: none;
    }
}

@media (min-width: 800px) {
    .info-section{
        width: 65%;
    }
    .logo-container{
        width: 40%;    
    }
    .menu-container{
        width: 60%;
    }
    .d-responsive{
        position: relative;
        display: flex;
    }  
    .burger-menu{
        display: none;
    }
    .inge-logo{
        width: 85%;
    }
    
    .flex-div{
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .info-section{
        width: 60%;
    }
    .logo-container{
        width: 40%;    
    }
    .menu-container{
        width: 60%;
    }
    .d-responsive{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
    
    .flex-div{
        flex-direction: row;
    }
}

/*
    https://www.youtube.com/watch?v=1ukG4FTmdWQ
*/
