
@media (min-width: 300px) {
    .info-products-section{
        width: 90%;
    }
}

@media (min-width: 600px) {
    .info-products-section{
        width: 75%;
    }
}

@media (min-width: 800px) {
    .info-products-section{
        width: 65%;
    }
}

@media (min-width: 1000px) {
    .info-products-section{
        width: 60%;
    }
}