.service-icon-container{
    width: 80px;
    height: 80px;
    border: rgb(167, 167, 212) solid 3px;
    box-shadow: rgba(167, 167, 212, 0.303) 2px 2px 2px 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .91rem;
}

.service-icon{
    width: 100%;
    height: 100%;
}

.service-container {
    display: flex;
}